<turbo-frame id="step-two">
  <span class="controller-caption">stimulusJS controller "step-two"</span>
  <div class="controller-frame appear-animation" data-controller="step-two" data-action="connected->stepper#twoConnected connected:delayed->stepper#twoConnectedDelayed">
    <p>hi, I was sent here using <b><%= params[:one] %></b></p>
    <span class="form-caption">secondForm</span>
    <%= form_with url: stepper_three_path, html: { class: "form-frame", "data-turbo-frame" => "step-three", "data-stepper-target" => "secondForm", "data-step-two-target" => "form" } do |f| %>
      <%= f.hidden_field :one, value: params[:one] %>
      <%= f.radio_button :two, "cool", checked: params[:one] == "turbo", "data-action" => "step-two#submit" %>
      <%= f.label :two_cool, 'cool' %>
      <%= f.radio_button :two, "not cool", checked: params[:one] == "ajax", "data-action" => "step-two#submit" %>
      <%= f.label :two_not_cool, 'not cool' %>
    <% end %>
    <p data-stepper-target="twoConnected">Stepper will try to color this blue when receiving <b>connected</b> by step-two<p>
    <p data-stepper-target="twoConnectedDelayed">Stepper will try to color this blue when receiving <b>connected:delayed</b> by step-two<p>
  </div>
</turbo-frame>